{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
        <!-- Formulaire d'authentification HTML -->
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <a href="{{ path("app_login")}}"><button type="button" class="btn btn-primary btn-lg btn-block">Bienvenu sur le Forum</button></a>
        </div>
    </div>
</div>

{% endblock %}
